.home-section{
  position: relative;
  background: #fff;
  height: 100vh;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
/* Css del Contenido*/
.content {
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}
.content .info { padding: 40px 0; }
.content .img-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .img-map .images { width: 100%; }
.content .img-map .images img { width: 450px; }
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 800px) {
  .content .img-map {
    display: inline-block;
  }
  .content .img-map .map, .content .img-map .images { 
    width: 50%;
    text-align: center; 
  }
  .content .img-map .images { 
    margin-top: 10px; 
    width: 100%;
  }
  .content {
    font-size: 15px;
    padding: 30px;
    width: 100%;
    max-width: 900px;
    text-align: center;
  }
  .content .img-map .images img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .content .img-map {
    display: inline-block;
  }  
  .content {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .content .img-map .images img {
    width: 100%;
  }
}