.home-section{
  position: relative;
  background: #fff;
  height: 100vh;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
/* Css del Contenido*/
.content {
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}
.content .info { 
  padding: 20px 0;
  text-align: center;
}
.content .info h2 { font-weight: 500; }
.titulo { 
  padding-top: 40px;
  text-align: center;
}
.content .titulo h2 { font-weight: 500; }
.papel-carton { color: #43A1F5 }
.bebidas { color: #9A3705; }
.plasticos { color: #F8C502; }
.vidrios { color: #176315; }
.latas { color: #858584; }
.orga { color: #62370A; }
.residuos { color: #EA412E; }
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contenedor-imagenes {
  display: flex;
}
.contenedor-imagenes div img {
  height: 340px;
}
.contenedor-imagenes div { 
  margin-left: 5px;
  display: flex; 
}
.img3 { width: 30%; }