.home-section .div-header{
  height: 100px;
  display: flex;
  align-items: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 90px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li { list-style: none; }
header ul li a {
  display: inline-block;
  color: #43A047;
  font-size: 15px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.btn-open {
  color: #43A047;
  font-size: 15px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.btn-open:hover, header ul li a:hover { color: blue; }

/*Responsiov*/
@media (max-width:  800px) {
  .div-header header {
    display: inline-block;

    width: 100%;
  }
  header div {
    width: 100%;
    text-align: center;
  }
  header ul li {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 400px) {
  header {
   padding: 0 5px;
  }
  header ul li a {
    margin-left: 2px;
  }
  header ul li a, .btn-open {
    font-size: 12px;
  }
}